# SPDX-FileCopyrightText: The reguloj Authors
# SPDX-License-Identifier: 0BSD

Sebastian Hoß <seb@hoß.de>
Sebastian Hoß <seb@hoß.de> <sebhoss@pm.me>
Sebastian Hoß <seb@hoß.de> <seb@xn--ho-hia.de>
Sebastian Hoß <seb@hoß.de> <sebhoss@gmail.com>
Sebastian Hoß <seb@hoß.de> <mail@shoss.de>
