# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/libraries/
/jarRepositories.xml
/misc.xml
/sbt.xml
/uiDesigner.xml
/markdown.xml
/modules.xml
/vcs.xml
