name: Update Parent
on:
  schedule:
    - cron:  "0 1 11 * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
      - uses: actions/cache@v2.1.5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Update parent
        run: mvn --batch-mode versions:update-parent -DgenerateBackupPoms=false
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3.9.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update parent to latest version
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: 'Update parent to latest version'
          body: |
            `mvn --batch-mode versions:update-parent -DgenerateBackupPoms=false`
          labels: enhancement
          assignees: sebhoss
          draft: false
          branch: update-parent
